* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  background-color: #222224;
  color: white;
  font-family: sans-serif;
  overflow: hidden;
  overscroll-behavior: contain;
}

canvas {
  width: 100vw;
  height: 100vh;
  cursor: move;
}
